body {
    background-image: url(file/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    background-color: white;

}

.text {
   x; text-align: center;
    background-color: aliceblue;
    width: 600px;
    margin-left: 357p
    
}
th,td  {
    padding: 15px;
    text-align: center;
    

    
}

